<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/01852a2733.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  
    <div id ="container">
        <div class="box" id="heading"><h1><i class="fas fa-clipboard-list"></i>&NoBreak; TODO App</h1></div>
            <form action="" method=""  >
                <div class="box  todo">
                  <input type="text" placeholder="Enter todo work" required>
                </div>
                <div class="box date-and-category" > 
                  <select name="category" id="category" aria-placeholder="category">
                    <option >Choose a category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="social">Social</option>
                    <option value="fun">Fun</option>
                   </select>
                  <input type="date" id =date> 
                </div>
                <div class="box add-delete" >
                    <button type="submit">
                        <h2><i class="fas fa-plus-square"></i> Add Task</h2>
                    </button>
                    <div id ="delete">
                        <h3>
                            <i class =" fas fa-trash"></i>&NoBreak; Delete
                        </h3>
                    </div>
                </div>
            </form>
            <div id="show-todo">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>

            </div>
            

    </div>
    
</body>
</html>