body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}

#container{
    width: 500px;
    height: 550px;
    text-align: center;
    display: flex; 
     justify-content: center;
     align-items: center; 
     flex-direction: column;
     margin-top: 20px;
     padding-top: 20px;
     padding-bottom:30px;
    background-color: rgba(148, 192, 192, 0.37);
}

.box{
    width: 400px;
    height: 60px;
    background-color: white;
    margin-bottom: 2px;
    overflow: hidden;
}
.todo input{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
}
.date-and-category{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
#category{
    width: 202px;
    height: 100%;
    border: none;
    outline: none;
    border-right: 2px solid cyan;
    cursor: pointer;
}
#date{
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
.add-delete{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.add-delete button{
     width: 33%;
    height: 77%; 
    background-color:orange;
    border: none;
    border-right: 2px solid white;
    cursor: pointer;
}
.add-delete button:hover{
    color: white;
    translate: scale(1.1);
}
#delete{
    width: 33%;
    height: 67%;
    text-align: center;
    padding-bottom: 5px; 

    background-color: red;
    cursor: pointer;
}
#delete a{
    text-decoration: none;
    color: black;
}
#delete :hover{
  color: white;
}
#show-todo{
    width: 400px;
    max-height: 300px;
    /* display: flex; */
    text-transform: capitalize;
    overflow-y: auto;
    overflow-x: hidden;
}
.show-list{
    position: relative;
    left: -39px;
    width: 111%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
    background-color: white;
    overflow: hidden;
}
.mark{
    width: 20px;
    height: 20px;
    background-color: teal;
    border-radius: 3px;
}
#show-todo ul li{
  list-style: none;
}
